parameters:
    database_driver:   pdo_mysql
    database_host:     127.0.0.1
    database_port:     ~
    database_name:     testing
    database_user:     root
    database_password: ~
    database_path:     %kernel.root_dir%/database.db